<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>midCoord</key>
	<string>{49.3061, 7.3448}</string>
	<key>overlayTopLeftCoord</key>
	<string>{49.3110, 7.3380}</string>
	<key>overlayTopRightCoord</key>
	<string>{49.3110, 7.3517}</string>
	<key>overlayBottomLeftCoord</key>
	<string>{49.3013, 7.3380}</string>
</dict>
</plist>
